
*{
    font-family: Arial, Helvetica, sans-serif;
}


    .maindiv{
        /* border: 2px solid green; */
        width:vw;
    }
    /* 
    width: 20vw; 
    height: 20vh; */
    
    .container{
        border: 3px solid pink;
        height: 79px;
        width: 90%;
        margin:auto;
        padding-right: 5px; 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .logodiv{
        width: 54px;
        height: 100%;
    }
    
    .logodiv > img{
        /* width: 50px; */
        height: 100%;
    }
    
    .threeroutes {
        display: flex;
        /* border: 1px solid red; */
        font-size: 12px;
    }
    
    .threeroutes span{
        color: #696b79;
    }
    
    .secure{
        font-size: 12px;
        color: #535766;
        display: flex;
        align-items: center;
    }
    
    /* bag whole layout */
    .bagbody{
        width: vw;
        border-top: 2px solid #535766;
        /* border: 4px solid cyan; */
        /* height: 100px; */
    }
    .twosections{
      display: flex;
      width: 70%;
      margin: auto;
        /* height: 50px; */
    }
    .leftdiv{
        /* border: 5px solid green; */
        /* border-right: .5px solid #535766; */
        /* height: 100px; */
        width: 64%;
        padding: 32px 20px 0px 0px
    }
    .add_details{
        border: 1px solid gray ;
        border-radius: 3px;
        background-color: #ffffff;
        margin: 0px 0px 8px;
        padding:  8px 16px;
        display: flex;
        justify-content: space-between;
    }

    .addresscontent{
        display: flex;
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
        width: 70%;
        /* height: 39px; */
        /* border: 1px solid green; */
    }
.addresscontent p{
    padding-left: 4px;
}






    .addressbtn{
        font-size: 12px;
        box-sizing: border-box;
        width: 30%;
        /* border:1px solid #ff3f6c; */
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .addressbtn button{
        font-size: 11px;
        box-sizing: border-box;
        width: 120px;
        color: #ff3f6c;
        height: 30px;
        border:1px solid #ff3f6c;
        border-radius: 2px;
    
    }







    .avl_offers{
        border: 1px solid gray ;
        padding: 10px 18px 10px;
        margin: 0px 0px 10px;
        background-color: #ffffff;
        display: flex;
        border-radius: 3px;
        flex-direction: column;
       
    }

    .offershead{
        padding-left: 4px;
        width: 100%;
        height: 17px;
        color: #535766;
        margin: 0px 0px 3px;
        /* border: 1px solid salmon; */
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }

    .offersheadcre{
        width: 100%;
        height: 17px;
        color: #535766;
        margin: 0px 0px 3px;
        /* border: 1px solid salmon; */
        font-size: 12px;
       
        text-align: left;
    }

    .offersheadcre > button{
        font-size: 12px;
        /* box-sizing: border-box; */
        /* height: 100%; */
        width: 180px;
        /* border:1px solid #ff3f6c; */
        text-align: left;
        border-radius: 2px;
    }







    .feesdiv{
        border-radius: 3px;
        border: 1px solid gray ;
        background: #ffffff;
        padding: 8px;
        margin: 0px 0px 12px;
    }


.conhead{
    padding-left: 4px;
    width: 100%;
    height: 17px;
    /* color: #535766; */
    margin: 0px 0px 3px;
    /* border: 1px solid salmon; */
    font-size: 12px;
    text-align: left;
}

.conhead b{
    font-weight: bold;
}





.proditemcardlist{
    height: 100px;
    width: 100%;
      /* border: 0.5px solid red; */
}

.proditemcardcard{
    height: 195px;
    /* width: 594px; */
    background-color: white;
    padding: 12px 12px 0px;
    display: flex;
    border-radius: 3px;
    border: 1px solid gray;
    margin-bottom: 15px;
}

.actualcard{
    padding: 0px 0px 0px 12px;
    margin: 0px 0px 12px 10px;
    /* border: 3px solid darkorange; */
}

.brandname{
    text-align: left;
    color: black;
    font-size: 14px;
    margin: 0px 0px 4px;
    /* border: 0.5px solid darkmagenta; */
}

.productname{
    text-align: left;
    color: black;
    font-size: 14px;
    margin: 0px 6px 0px 0px;
    /* border: 0.5px solid darkmagenta; */
}

.soldby{
    text-align: left;
    color: #94969f;
    font-size: 12px;
}

.expressdelivery{
    margin-top: -10px;
    text-align: left;
    color: black;
    font-size: 12px;
    margin: 0px 0px 4px;
    /* border: 0.5px solid darkmagenta; */
}


.itemaincontainer{
    padding: 8px 0px;
    display: flex;
    height: 36px;
}

.itemaincontainer > div{
    margin: -5px 8px 0px 0px;
}

.itemaincontainer > div > div{
    margin: 0px 12px 0px 0px;
    padding: 2px 8px;
    background-color: #f5f5f6;
}

.itemaincontainer > div > div > div{
    color: black;
    font-size: 14px;
}
    
    
    .rightdiv{
        border-left: .5px solid #535766;
        /* border: 4px solid red; */
        /* height: 100px; */
        width: 36%;
        padding: 24px 0px 0px 16px;
    }

    .coupondiv{
        /* border: 2px solid lawngreen; */
        height: 72px;
        width: 100%;
    }

    .couponhead{
        width: 100%;
        height: 17px;
        color: #535766;
        margin: 0px 0px 12px;
        /* border: 1px solid salmon; */
        font-size: 12px;
        font-weight: bold;
        text-align: left;
    }

    .couponbasecontent{
        font-size: 14px;
        height: 43px;
        padding: 0px 0px 12px 36px;
        border: .5px solid gray;
        display: flex;
        border-radius: 3px;
        justify-content: space-between;
    }
    
    .contenttext{
        font-size: 14px;
        padding: 7px 0px;
        color: #282c3f;
        font-weight:300
    }
    .applybtn{
        /* border:1px solid #ff3f6c; */
        color: #ff3f6c;
        border-radius: 2px;
        padding: 8px 12px;
        margin-top: 8px;
        margin-right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .applybtn button{
        font-size: 12px;
        box-sizing: border-box;
        /* height: 100%; */
        width: 60px;
        border:1px solid #ff3f6c;
        border-radius: 2px;
    
    }


    .giftdiv{
        /* border: 7px solid lawngreen; */
        height: 72px;
        width: 100%;
    }

.gifthead{

        width: 100%;
        height: 17px;
        color: #535766;
        margin: 12px 0px ;
        /* border: 1px solid salmon; */
        font-size: 12px;
        font-weight:lighter;
        text-align: left;

}

.btndiv{
    /* border: 3px solid red; */
    height: 50px;
    width: 90%;
    margin: auto;
}

.subpaysbtn{
    font-size: 12px;
    box-sizing: border-box;
    width: 90%;
    /* border:1px solid #ff3f6c; */
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subpaybtn button{
    font-size: 11px;
    box-sizing: border-box;
    width: 100%;
    background-color: #ff3f6c;
    color: white;
    height: 35px;
    border:1px solid #ff3f6c;
    border-radius: 2px;

}
td{
    width: 640px;
}

.addresscontent_two{
    text-align: left;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 70%;
    /* height: 39px; */
    /* border: 1px solid green; */
}

@media screen and (min-width:360px) and (max-width:576px) {
    .twosections{
        display: block;
        /* flex-direction: column; */
        width: 70%;
        margin: auto;
          /* height: 50px; */
      }
      .leftdiv{
        border: 5px solid green;
          /* border-right: .5px solid #535766; */
          height: 100px;
          width: 90%;
          padding: 32px 20px 0px 0px
      }
      .add_details{
          border: 1px solid gray ;
          border-radius: 3px;
          background-color: #ffffff;
          margin: 0px 0px 8px;
          padding: 16px
      }
      .avl_offers{
          border: 1px solid gray ;
          padding: 16px 18px 12px;
          margin: 0px 0px 10px;
          background-color: #ffffff;
      }
      .feesdiv{
          border: 1px solid gray ;
          background: #ffffff;
          padding: 8px;
          margin: 0px 0px 12px;
      }
      
      
      .rightdiv{
          border-left: .5px solid #535766;
          height: 100px;
          width: 90%;
          border: 4px solid red;
          padding: 24px 0px 0px 16px;
      }      
    
}