.card {
    /* width: 25%; */
    height: 360px;
    /* border: 1px solid red; */
    border-radius: 5px;
    line-height: 10px;  
    margin-bottom: 50px;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.5s ease-in-out;
}


.card img{
    width: 100%;
    overflow: hidden;
    /* border: 1px solid green; */
}

.card h5{
    margin-bottom: 4%;
    /* border: 1px solid red; */
}
.card p{
    margin-top: 0%;
    font-size: 10px;
    color: gray;
    /* border: 1px solid black; */
}

.offPrice {
    color: gray;
    font-size: 10px;
    font-weight:300;
    text-decoration-line:line-through;
    /* border: 1px solid blue; */
}

.brand {
    position: absolute;
    top: 83%;

}
.price {
    position: absolute;
    top: 95%;
}

.wishlist {
    position: absolute;
    top: 65%;
    width: 100%;
    height: 60px;
    background-color: white;
    display: none;
    transition: 0.5s ease-in-out;
   
}
.card:hover  .wishlist {
    display: block;
   
}
.wishlist button {
    position: absolute;
    top: 35%;
    left: 15%;
    border: 1px solid black;
    height: 30px;
    width: 70%;
}
.card:hover {
    scale: 1.1;
    
}

@media screen and (max-width: 1250px){
    .card{
        width: 200px;
    }
}