
* {
  box-sizing: border-box;
}

.productList {
    width: 82%;
    margin-left: 18%;
    display: grid;
    grid-template-columns: repeat(5, 17%);
    justify-content: space-evenly;
  
}

@media screen and (min-width: 577px) and (max-width: 876px) {
        .productList {
            box-sizing: border-box;
            /* width: 60%; */
            margin-left: 18%;    
            display: grid;
            grid-template-columns: repeat(2,1fr);
            /* justify-content: space-around; */
            column-gap: 10px;
        }
  }

  @media screen and (min-width: 336px) and (max-width: 576px) {
    .productList {
         width: 40%;
        margin-left: 30%;    
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: space-evenly;
        border: none;
    }
}

  


  .loading {
    position: absolute;
    top: 30%;
    left: 25%;
  }